<section class="container">
  <%= render partial: 'shared/navbar', locals: {title: 'Categories'} %>

  <div id="categories" class="cat-container d-flex flex-column">
  <% if @categories.empty?%>
    <p class='no-cat text-center fw-normal'>No Category Available</p>
  <% else %>
    <% @categories.each do |category| %>
    <br>
    <div class='container d-flex flex-row justify-content-between p-3 align-items-center rounded shadow border-dark'>
      <img src="<%= category.icon %>" alt=<%= category.name %>, class= 'image img-fluid img-thumbnail' />
      <div class='container-info'>
        <h2><%= link_to category.name, category_path(category.id), class: 'text-decoration-none fs-3' %></h2>
        <div class='d-flex flex-row gap-3'>
          <p class='fw-semibold'>$<%= category.created_at %></p>
        </div>
      </div>

      <div class='amount-delete'>
        <p class='fw-semibold'>$<%= category.expenses.sum(:amount) %></p>
        <p><%= button_to 'Delete', category, method: :delete, data: { turbo: false }, class:'btn btn-outline-danger' %> </p>
      </div>
      
    </div>
    <% end %>
  <% end %>
</div>
<br>
<div class='d-flex flex-column text-center w-100 p-3'>
  <%= link_to "Add New Category", new_category_path, class:'text-decoration-none border border-white p-2 fs-5 fw-semibold' %>
</div>
</section>
