<section>
  <%= render partial: 'shared/navbar', locals: {title: 'Add New Category'} %>
  <br/>
  <%= form_with model: @category, url: categories_path(current_user) do |form| %>
    <div class="field">
      <%= form.label :name, class: "label" %>
      <%= form.text_field :name, placeholder: 'Enter category name', required: true, class: 'input' %>
    </div>

    <div class="field">
      <%= form.label :icon, class: "label" %>
      <%= form.text_field :icon, placeholder: 'Enter icon url', required: true, class: 'input' %>
    </div>

    <div class="submit">
      <%= form.submit 'Save Category' %>
    </div>
  <%end%>
</section>
